/* Import other partials and add about page-specific styles here */

.content {
    margin: 20px;
  }
  
  h1 {
    font-size: 2rem;
    color: $primary-color;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  /* Additional about page styles go here */
  